<table class="w-100">

  <thead class=" text-uppercase border ">
    <tr >
      <th  >N°</th>
      <th class="text-left ">
        <div class="text-overflow" >
          nombre del colaborador
        </div>
      </th>
      <th class="text-left ">
        <div class="d-flex align-items-center" >
          <img class="mr-4" src="../../../../assets/icons/outline/outline-arrows.svg" alt="filter">
          <div class="text-overflow" >
            promed. activ.
          </div>
        </div>
      </th>
      <th class="text-left ">
        <div class="d-flex align-items-center" >
          <img class="mr-4" src="../../../../assets/icons/outline/outline-arrows.svg" alt="filter">
          <div class="text-overflow" >
            PROMED. HORAS
          </div>
        </div>
      </th>
      <th class="text-left ">
        <div class="d-flex align-items-center" >
          <img class="mr-4" src="../../../../assets/icons/outline/outline-arrows.svg" alt="filter">
          <div class="text-overflow" >
            HORAS SEMANALES
          </div>
        </div>
      </th>
    </tr>
  </thead>
  <tbody  >
    <tr  class="bg-DP03 row border " *ngFor="let item of listData; let i = index" >
      <th class=" text-3 font-weight-regular  bg-DP03 " >
        {{  i <= 8 ? ('0' + (i+1)) : i+1}}
      </th>

      <td class=" text-3 text-uppercase " >
        <div class="text-overflow" >
          {{item.nombre}}
        </div>
      </td>

      <td class=" text-3 text-uppercase  " >
        <div class="d-flex align-items-center justify-content-start" >
          <img class="mr-10" src="../../../../../assets/icons/status/status-check.svg" alt="status-icon">
          <div class="text-overflow" >
            {{item.actividad}}
          </div>
        </div>
      </td>

      <td class=" text-3 text-uppercase  " >
        <div class="d-flex align-items-center justify-content-start" >
          <img class="mr-10" src="../../../../assets/icons/status/status-check.svg" alt="status-icon">
          <div class="text-overflow" >
            {{item.horas}}
          </div>
        </div>
      </td>

      <td class=" text-3 text-uppercase  " >
        <div class="d-flex align-items-center justify-content-start" >
          <img class="mr-10" src="../../../../assets/icons/status/status-check.svg" alt="status-icon">
          <div class="text-overflow" >
            {{item.semanales}}
          </div>
        </div>
      </td>
    </tr>

  </tbody>
</table>
