tr:last-child td:last-child{
  border-bottom-right-radius: 16px !important;
}

tbody > tr:last-child > th:first-child{
  border-bottom-left-radius: 16px !important;
}

th{
  margin-left: 1rem !important;
}

tbody > tr{
  border-bottom: transparent 1px solid;
}

.icon-arrow {
  height: 14px;
  margin-left: 1rem;
}


.move  >  tr{
  animation: move 18s linear infinite;
}

tr:hover {
  animation-play-state: paused;
}



@keyframes move {
  4% {
     transform:translateY(0);
  }
  100% {
     transform:translateY(calc(-28px * 20));
  }
}

