.card{
  min-width: 8rem;

  position: relative;
}

.card-shadow{
  box-shadow: 0px 4px 10px rgba(52, 52, 52, 0.11);
}
 .card-background-image{
  position: absolute;
  height: 85px;
  right: 0px;
  bottom: 0px;
  z-index: 3;
  opacity: 0.1;
}

.card-tittle{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-large{
  padding-top: 4px;
  padding-bottom: 8px;

  .card-large-value{
    height: 3rem;
    width: 8rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
