<div class="grid" >

  <!--Content-->
  <section class="col pb-1" >

    <!--Top Header-->
    <app-top-header  class="row" ></app-top-header>

    <!--Tabla-->
    <div class=" rounded border mt-4 w-100 d-flex flex-column">

      <app-table-head
        [icon]="'cup'"
        [tittle]="'Leaderboards'"
      ></app-table-head >
      <app-table-body class="table"
        [listData]="listData"
        [columnsName]="columnsName"

      ></app-table-body>
    </div>

    <!--Leyendas-->
    <div class="mt-2" >
      <div class="h6 pb-0 border-bottom"  >
        Leyenda de información sdfrgdfgfdgc
      </div>

      <section class="grid-2" >
        <app-row-tag
          [tittle]="'Actividad'"
          [listTags]="actividadesList"
        ></app-row-tag>

        <app-row-tag
          [tittle]="'Horas'"
          [listTags]="horasList"
        ></app-row-tag>

        <div>
          <app-row-tag
            [tittle]="'Semanal'"
            [listTags]="semanalList"
          ></app-row-tag>
        </div>
      </section>
    </div>

  </section>

  <!--Aside-->
  <section >
    <app-aside
      [type]="'clientes'"
    ></app-aside>
  </section>
</div>
