@import '../../../scss/colors';


.progress-container{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width:60px;
  height:60px;
}

circle{
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 6px ;
  stroke-dasharray: 160;
  stroke-dashoffset: 10;
  animation: anim 2s linear forwards;
}

svg{
  position: absolute;
  top: 0;
  left: 0;
}
