<section  class="pt-1 pb-1 d-flex align-items-center pl-24 pr-24 rounded border" >
  <!--Color clack-->
  <div class="timer-target bg-gradient-blue d-flex flex-column justify-content-center rounded align-items-center mr-24" >
    <div  class="text-2 color-DP03 font-weight-regular" >MIE</div>
    <div  class="bg-DP03 timer-line rounded opacity-6" ></div>
    <div class="text-2 color-DP03 font-weight-bold" >08</div>
  </div>

  <!--Labels-->
  <div class="d-flex flex-column w-100 justify-content-center" >
    <section class="d-flex mb-24 justify-content-between align-items-center" >
      <div class="h5 text-2" >
        Agosto
      </div>

      <div class="d-flex align-items-center" >
        <img class="timer-icon-watch" src="../../../assets/icons/outline/outline-watch.svg" alt="ouline-watch">
        <div class="h5" >
          10:30 PM
        </div>
      </div>

    </section>

    <section class="text-center text-4 opacity-6" > (GMT-6) Guatemala </section>

  </div>
</section>
