.timer-target{
  width: 5rem;
  height: 5rem;
}

.timer-line{
  width: 80%;
  height: 0px;
  border: 1.5px solid rgba(39, 39, 39, 0.6);
  margin-top: 8px;
  margin-bottom: 8px;
}

.timer-icon-watch{
  margin-right: 4px;
}
