.container-cards{
  width: 56rem;
  max-width: 56rem;
  overflow-x: auto;
  scrollbar-color: transparent transparent;
  padding-top: 4rem;
  padding-bottom: 3rem;
  cursor: grab;
  user-select: none;

}

.container-cards::-webkit-scrollbar {
  display: none;
}
