<section class="view col pb-1 animate__animated animate__fadeInUp" >

  <!--Cards-->
  <app-container-cards class="row" ></app-container-cards>

  <!--Tabla-->
  <div class=" rounded border w-100 d-flex flex-column"  [ngClass]="{'table-overflow':listData.length > 9}">

    <app-table-head
      [tittle]="'Leaderboards'"
    ></app-table-head >
    <app-table-body class="table hidden-scroll "
      [listData]="listData"
      [columnsName]="columnsName"

    ></app-table-body>
  </div>

</section>

