<section>
  <h1>HEADLINE 1</h1>
  <br>
  <h2>HEADLINE 2</h2>
  <br>
  <h3>HEADLINE 3</h3>
  <br>
  <h4>HEADLINE 4</h4>
  <br>
  <h5>HEADLINE 5</h5>
  <br>
  <h6>HEADLINE 6</h6>
  <br>
  <br>
  <h1 class="big-h1" >BIG HEADLINE 1</h1>
  <br>
  <h2 class="big-h2" >BIG HEADLINE 2</h2>
  <br>
  <h3 class="big-h3" >BIG HEADLINE 3</h3>

  <br>
  <br>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem molestiae doloremque omnis, doloribus optio nulla fuga? Voluptatibus obcaecati placeat similique facere molestiae deleniti reiciendis. Eum quasi quibusdam voluptatem quia voluptatibus.</p>
  <br>

  <div class="text-1  ">Lorem ipsum dolor sit
    <span  class="font-weight-bold" >BOLD</span> Quidem molestiae doloremque omnis, doloribus optio nulla fuga? Voluptatibus obcaecati placeat similique facere molestiae deleniti reiciendis. Eum quasi quibusdam voluptatem quia voluptatibus.</div>
  <div class="text-2">Lorem ipsum dolor sit amet <span  class="font-weight-regular" >regular</span> consectetur adipisicing elit. Quidem molestiae doloremque omnis, doloribus optio nulla fuga? Voluptatibus obcaecati placeat similique facere molestiae deleniti reiciendis. Eum quasi quibusdam voluptatem quia voluptatibus.</div>
  <br>
  <div class="text-3">Lorem ipsum dolor sit <span  class="font-weight-light" >LIGHT</span>consectetur adipisicing elit. Quidem molestiae doloremque omnis, doloribus optio nulla fuga? Voluptatibus obcaecati placeat similique facere molestiae deleniti reiciendis. Eum quasi quibusdam voluptatem quia voluptatibus.</div>

</section>
