/* You can add global styles to this file, and also import other style files */
@import './scss/global';

/*Normalize*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Imagenes*/
.img-logo{
  height: 2rem;
}

/*Size*/
.w-100{
  width: 100%;
}

.h-100vh{
  height: 100vh;
}

/*Position*/

.p-relative{
  position: relative;
}

