$border-radius-style: 16px;
$border-style: 1px solid rgba(255, 255, 255, 0.1);

.rounded{
  border-radius: $border-radius-style;
}


.rounded-top-left{
  border-top-left-radius: $border-radius-style  ;
}

.rounded-top-right{
  border-top-right-radius:  $border-radius-style  ;
}

.rounded-bottom-left{
  border-bottom-left-radius: $border-radius-style  ;
}

.rounded-bottom-right{
  border-bottom-right-radius:  $border-radius-style  ;
}


.rounded-6{
  border-radius: 6px;
}

.border{
  border: $border-style !important;
}

.border-top{
    border-top: $border-style;
}

.border-right{
  border-right: $border-style;
}

.border-bottom{
  border-bottom: $border-style;
}

.border-left{
  border-left: $border-style;
}
