/*Neutral colors*/
$neutral-black: #000000;
$neutral-white: #FFFFFF;

/*Background*/
$bg-DP01: #1F1F1F;
$bg-DP02: #232323;
$bg-DP03: #272727;

/*Gardients*/
$gradient-main-outlin: linear-gradient(90deg, #F58523 0%, #BD4E80 49.48%, #2ABCDA 100%);
$gradient-blue: linear-gradient(135deg, #8DF8FF 11.52%, #468EF9 91.55%);

/*Brand*/
$brand-orange: #F17E2A;
$brand-light-blue: #5AB9D5;
$brand-purple: #CC3983;

/*Opacidad*/

.opacity-8{
  opacity: 0.8;
}

.opacity-4{
  opacity: 0.4;
}
