@import './typography';
@import './breakpoints';
@import './colors';
@import './borders';
@import './flex';
@import './spacing';
@import './layout';
@import './effects';
@import './grid';
@import './tables';

html, body{
  font-family: $font-family;
  background-color: $bg-DP01;
  color: $neutral-white;
}

body{
  display: flex;
  justify-content: center;

  @include media-breakpoint("xs") {
    display: block;
    justify-content: none;
  }

  @include media-breakpoint("sm") {
    display: block;
    justify-content: none;
  }

}

/*Images*/

.overflow-hidden{
  overflow: hidden;
}

.icon{
  width: 2rem;
}
