@import './breakpoints';


.grid{
  display: grid;
  grid-template-columns: auto auto;
  gap: 18px;
}

.grid-layout-columns{
  display: grid;
  grid-template-columns: auto auto;

  gap: 18px;

}

.grid-layout-rows{
  grid-template-rows: repeat(2, 1fr);
}

.grid-2{
  display: grid;
  grid-template-columns: auto auto;

  @include media-breakpoint("xs") {
    grid-template-columns: repeat(1,1fr);

  }
  @include media-breakpoint("sm") {
    grid-template-columns: repeat(1,1fr);
  }
}

.grid-4{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;

  @include media-breakpoint("xs") {
    grid-template-columns: repeat(1,1fr);

  }
  @include media-breakpoint("sm") {
    grid-template-columns: repeat(2,1fr);
  }

  gap: 20px;
}

.col{
  width: 50rem;
  @include media-breakpoint("xs") {
    width: calc(100vw - 32px);
  }

  @include media-breakpoint("sm") {
    width: calc(100vw - 2rem);
  }
}
