@import './borders';
@import './colors';

table, caption, tbody, tfoot, thead, tr, th, td {

  border: 0px;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  border-spacing: 0px 0px !important;
  border-collapse: collapse;
}

tr{
  border-bottom: $border-style;
}

tbody{
  background-color: $opacity-white;
}

tbody tr:hover{
  background-color: $bg-DP01;
}

th{
  padding-top: 8px;
  padding-bottom: 8px;

}

.row > th{
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 24px;
  padding-right: 24px;
}

tbody{
  border-radius: 16px !important;
}

.table{
  overflow: auto;
  width: 100%;
}


.vertical-align-middle{
  vertical-align: middle;
}

.table-overflow{
  max-height: 36rem;
  overflow: auto;
}


.hidden-scroll::-webkit-scrollbar{
  display: none;
}

thead{
  transform: translateY(-1px);
}
