<div class="pl-1 pr-1 pb-sm-1 pb-xs-1 container" >

  <section class="grid-layout-columns" >
    <section class="col grid-layout-rows" >

      <section class="row" >
        <app-top-header> </app-top-header>
      </section>

      <section class="row" >

        <ng-container  [ngSwitch]="view" >

          <ng-container *ngSwitchCase="'general'" >
            <app-view-general  class="view" ></app-view-general>
          </ng-container>

          <ng-container *ngSwitchCase="'areas'" >
            <app-view-areas  class="view" ></app-view-areas>
          </ng-container>

          <ng-container *ngSwitchCase="'clientes'" >
            <app-view-clientes  class="view" ></app-view-clientes>
          </ng-container>


        </ng-container>


      </section>

    </section>

    <section >
      <app-aside
        [type]="view"
      ></app-aside>
    </section>
  </section>



</div>
